* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    background: linear-gradient(180deg, #0837B0 0%, #021E66 100%) no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.app__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.counter__body {
    width: 300px;
    height: 300px;


    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

#counter {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    line-height: 176px;
    /* identical to box height */

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.controls__body {
    margin-top: 34px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.controls__btn {
    width: 65px;
    height: 65px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: 0.1s;
}

.controls__btn:hover {
    filter:grayscale(0.3);
}

.controls__icon {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
}

#inc {
    background: #089C20;
}
#dec {
    background: #E7AA10;
}
#res {
    background: #CF1C1C;
}